@page
@model Presentation.Pages.Admin.User.UserDetailModel
@{
    ViewData["Title"] = "User Detail";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUserDTO.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUserDTO.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUserDTO.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUserDTO.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.Role)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppUserDTO.Role)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserDTO.Status)
        </dt>
        <dd class="col-sm-10">
            @if(Model.AppUserDTO.Status == 1)
            {
                <div>Available</div>
            }
            else
            {
                <div>Not Available</div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./UserEdit" asp-route-id="@Model.AppUserDTO?.Id">Edit</a> |
    <a asp-page="./UserManagement">Back to List</a>
</div>
