@page
@model Presentation.Pages.Artist.ArtistCommissionHistoryModel
@{
	var message = TempData["Message"] as string;
}

@if(!string.IsNullOrEmpty(message))
{
	<div class="alert alert-success">
		<p>@message</p>
	</div>
}

@if(Model.CommissionRequestHistoryDTOs != null && Model.CommissionRequestHistoryDTOs.Count != 0)
{
	<div class="container">
		<div class="row">
			<div style="height:20px;width:20px;background-color: rgba(236, 166, 13, 0.79); display:inline">
			</div>
			<div class="col-md-4">: Progress image request from audience</div>
		</div>
		<table class="table" id="commissionTable">
			<thead>
				<tr>
					<td>Sender Email</td>
					<td>Receiver Email</td>
					<td>Description</td>
					<td>Min Price</td>
					<td>Max Price</td>
					<td>Request Date</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				@foreach(var request in Model.CommissionRequestHistoryDTOs)
				{
					var style = "";
					@if(request.Status == 1)
					{
						style = "background-color: rgba(236, 166, 13, 0.79)";
					}

					<tr style="@Html.Raw(style)">
						<td>@request.SenderEmail</td>
						<td>@request.ReceiverEmail</td>
						<td>@request.RequestDescription</td>
						<td>@request.MinPrice</td>
						<td>@request.MaxPrice</td>
						<td>@request.RequestDate</td>
						<td>
							@if(request.CommissionStatusDescription == "Pending")
							{
								<p class="text text-warning">@request.CommissionStatusDescription</p>
							}
							else if(request.CommissionStatusDescription == "Accepted")
							{
								<p class="text text-success">@request.CommissionStatusDescription</p>
							}
							else if(request.CommissionStatusDescription == "Not Accepted")
							{
								<p class="text text-danger">@request.CommissionStatusDescription</p>
							}
							else if (request.CommissionStatusDescription == "In Progress")
							{
								<p class="text text-primary">@request.CommissionStatusDescription</p>
							}
							else
							{
								<p class="text text-info-emphasis">@request.CommissionStatusDescription</p>
							}
						</td>
						<td>
							@if (request.CommissionStatusDescription == "Pending")
							{
								<form method="post">
									<div class="text text-danger" asp-validation-summary="All"></div>
									<input type="hidden" asp-for="CommissionId" value="@request.Id"/>
									<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#acceptModal">Accept</button>
									<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">Reject</button>
								</form>
								<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Do you readly want to deny this commission?</h5>
												<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" asp-page-handler="NotAccept">
												<div class="modal-body">
													<div class="text text-danger" asp-validation-summary="All"></div>
													<input type="hidden" class="form-control" id="commissionId" asp-for="CommissionId" value="@request.Id" readonly>
													
													<div class="mb-3">
														<label for="reason" class="form-label">Reason: </label>
														<input type="text" class="form-control" id="reason" asp-for="NotAcceptedReason">
														<span class="text-danger" asp-validation-for="NotAcceptedReason"></span>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="modal fade" id="acceptModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="exampleModalLabel">Do you readly want to accept this commission?</h5>
												<button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
											<form method="post" asp-page-handler="Accept">
												<div class="modal-body">
													<div class="text text-danger" asp-validation-summary="All"></div>
													<input type="hidden" class="form-control" id="commissionId" asp-for="CommissionId" value="@request.Id" readonly>
													<div class="mb-3">
														<label for="actualPrice" class="form-label">Actual Price: </label>
														<input type="number" class="form-control" id="actualPrice" asp-for="ActualPrice">
														<span class="text-danger" asp-validation-for="ActualPrice"></span>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
													<button type="submit" class="btn btn-primary">Submit</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							}
							else if(request.CommissionStatusDescription == "In Progress" || request.CommissionStatusDescription == "Accepted")
							{
								<a class="text" href="/artist/artistcommissionrequestdetail?id=@request.Id">View Detail</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h3>No commission to be displayed</h3>
}
@section Scripts {
	<script>
		let table = new DataTable('#commissionTable', {
			responsive: true
		});
	</script>
	@if(Model.IsNotAcceptSuccess)
	{
		<script>
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("NotAcceptCommission", @Html.Raw(Json.Serialize(Model.CommissionId))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		</script>
	}
	@if (Model.IsAcceptSuccess)
	{
		<script>
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("AcceptCommission", @Html.Raw(Json.Serialize(Model.CommissionId))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		</script>
	}

	@if (Model.IsDoneSuccess)
	{
		<script>
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("DoneCommission", @Html.Raw(Json.Serialize(Model.CommissionId))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		</script>
	}
}