@page
@model Presentation.Pages.Artist.ArtistCommissionHistoryModel
@{
	var message = TempData["Message"] as string;
}

@if(!string.IsNullOrEmpty(message))
{
	<div class="alert alert-success">
		<p>@message</p>
	</div>
}

@if(Model.CommissionRequestHistoryDTOs != null && Model.CommissionRequestHistoryDTOs.Count != 0)
{
	<div class="container">
		<table class="table" id="commissionTable">
			<thead>
				<tr>
					<td>Sender Email</td>
					<td>Receiver Email</td>
					<td>Description</td>
					<td>Actual Price</td>
					<td>Request Date</td>
					<td>Status</td>
					<td></td>
				</tr>
			</thead>
			<tbody>
				@foreach(var request in Model.CommissionRequestHistoryDTOs)
				{
					<tr>
						<td>@request.SenderEmail</td>
						<td>@request.ReceiverEmail</td>
						<td>@request.RequestDescription</td>
						<td>@request.ActualPrice</td>
						<td>@request.RequestDate</td>
						<td>
							@if(request.CommissionStatusDescription == "Pending")
							{
								<p class="text text-warning">@request.CommissionStatusDescription</p>
							}
							else if(request.CommissionStatusDescription == "Accepted")
							{
								<p class="text text-success">@request.CommissionStatusDescription</p>
							}
							else if(request.CommissionStatusDescription == "Not Accepted")
							{
								<p class="text text-danger">@request.CommissionStatusDescription</p>
							}
							else if (request.CommissionStatusDescription == "In Progress")
							{
								<p class="text text-primary">@request.CommissionStatusDescription</p>
							}
							else
							{
								<p class="text text-info-emphasis">@request.CommissionStatusDescription</p>
							}
						</td>
						<td>
							@if (request.CommissionStatusDescription == "Pending")
							{
								<form method="post">
									<div class="text text-danger" asp-validation-summary="All"></div>
									<input type="hidden" asp-for="CommissionId" value="@request.Id"/>
									<button type="submit" class="btn btn-primary" asp-page-handler="Accept">Accept</button>
									<button type="submit" class="btn btn-danger" asp-page-handler="NotAccept">Not Accept</button>
								</form>
							}
							else if(request.CommissionStatusDescription == "In Progress" || request.CommissionStatusDescription == "Accepted")
							{
								<a class="text" href="/artist/artistcommissionrequestdetail?id=@request.Id">View Detail</a>
							}
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
}
else
{
	<h3>No commission to be displayed</h3>
}
@section Scripts {
	<script>
		let table = new DataTable('#commissionTable', {
			responsive: true
		});
	</script>
}