@page
@model Presentation.Pages.Home.ArtworkDetailModel
@{
}
@if (Model.Artwork != null)
{
    
    <h1>@Model.Artwork.Title</h1>

    <div>
        <img src="@Model.Artwork.ArtworkImage.Url" alt="@Model.Artwork.Title" class="img-fluid" />
        <p><strong>Description:</strong> @Model.Artwork.Description</p>
        <p><strong>Genre:</strong> @Model.Artwork.Genre.Name</p>
        <p><strong>Price:</strong> @Model.Artwork.Price</p>
        <p><strong>Artist:</strong> @Model.Artwork.AppUser.Name</p>
    </div>
    <form method="post"> 
                            <div class="text text-danger" asp-validation-summary="All"></div> 
        <input type="hidden" asp-for="AddLikeDTO.ArtworkId" value="@Model.Artwork.Id" />
        <input type="hidden" asp-for="addPurchaseDTO.BuyPrice" value="@Model.Artwork.Price" />
        <input type="hidden" asp-for="AddFollowDTO.TargetUserId" value="@Model.Artwork.AppUserId" />
        @if (Model != null && Model.Artwork != null && Model.Likes != null)
        {
            <button type="submit" class="btn btn-primary like-state" data-artwork-id="@Model.Artwork.Id"
                    data-like-state="@Model.Likes" asp-page-handler="Like" asp-page="./ArtworkDetail" asp-route-id="@Model.Artwork.Id" >
                @if (Model.Likes)
                {
                    <text> Liked </text>
                }
                else
                {
                    <text> Like </text>
                }
            </button>
        }
        
        
        @if (Model.Artwork.AppUserId != Model.UserId)
        {
            <button type="submit" class="btn btn-secondary" asp-page-handler="Follow">
                @if (Model.Follows)
                {
                    <text> Followed </text>
                }
                else
                {
                    <text> Follow </text>
                }
            </button>
            @if (!Model.Bought)
            {
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#confirmPurchaseModal">Buy Artwork</button>
            } else
            {
                <button type="button" class="btn btn-secondary" onclick="downloadFile()" @* asp-page-handler="Download" *@>Download Bought-Artwork</button>
            }
        }
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["Message"]
            </div>
        }
        <div class="modal fade" id="confirmPurchaseModal" tabindex="-1" aria-labelledby="confirmPurchaseModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmPurchaseModalLabel">Buy Artwork Confirmation</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Do you really want to buy this image ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-primary" id="confirmPurchaseButton" asp-page-handler="Buy">Yes</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    <br />
    <br />
    <div id="comment-section">
        <!-- Comments will be displayed here -->
        @foreach (var artwork in Model.ArtworkComment)
        {
            <div>
                <p><strong>User Name:</strong> @artwork.AppUser.Name</p>
                <p><strong>Content:</strong> @artwork.Content</p>
                <p><strong>Comment Date:</strong> @artwork.CreatedDate</p>
            </div>
        }
        <br />
    </div>
}
<hr />
@if (Model.Artwork != null)
{
    <!-- Form for submitting new comments -->
    <form id="comment-form" method="post" asp-page-handler="Comment" asp-route-artworkId="@Model.Artwork.Id">
        <div class="form-group">
            <label for="comment">Add a Comment:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <div class="text text-danger" asp-validation-summary="All"></div>
        <input type="hidden" asp-for="AddComment.Artworkid" value="@Model.Artwork.Id" />
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
}
else
{
    <div>
        <p>Artwork not found.</p>
    </div>
}
@section Scripts {
    <script>
        
        document.getElementById('confirmPurchaseButton').addEventListener('click', function () {

            $('#confirmPurchaseModal').modal('hide');
        });

        function downloadFile() {
            
            var url = '@Model.DownloadUrl';

            var anchor = document.createElement('a');
            anchor.href = url;
            anchor.download = 'ArtworkSharing'; 
            document.body.appendChild(anchor); 
            anchor.click(); 
            document.body.removeChild(anchor); 
        }
    </script>
}