@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<!-- Add additional stylesheets or scripts here -->
<style>
    /* Custom CSS styles */
    .user-detail {
        margin-bottom: 50px; /* Tăng khoảng cách giữa Phần Detail User và Phần Gallery */
    }

    .artwork-image {
        width: 100%; /* Set the width to 100% */
        height: auto; /* Automatically calculate the height to maintain aspect ratio */
        max-width: 1000px; /* Set a maximum width for the images */
    }
</style>

<h1>Artworks</h1>
<form method="get" asp-page-handler ="Index">
    <div class="search">
        <span id="search-icon" class="material-symbols-outlined">search</span>
        <input name="title" id="search-title" class="search-input" type="search" placeholder="Search a title"/>
    </div>
</form>
<style>
    .search{
      --padding: 14px;
      
      width: max-content;
      display: flex;
      align-items: center;
      padding: var(--padding);
      border-radius: 28px;
      background: #f6f6f6;
      transition: box-shadow 0.25s;
    }
    
    .search:focus-within{
      box-shadow: 0 0 2px rgba(0, 0, 0 , 0.75);
      
    }
    
    .search-input{
      font-size: 14px ;
      font-family: 'Lexend', sans-serif;
      color: #333333;
      margin-left: var(--padding);
      outline: none;
      border: none;
      background: transparent;
      width: 800px;  
    }
    
    .search-input::placeholder{
      color: rgba(0, 0, 0, 0.5);
    }
</style>
<div class="container">
    @if (Model.Artworks != null)
    {
        @foreach (var artwork in Model.Artworks)
        {
            <br/>
            <div class="row">
                <div class="col-md-12">
                    <h6>Title: @artwork.Title</h6>
                    <img src="@artwork.ArtworkImage.Url" alt="@artwork.Title" class="card-img-top artwork-image" />
                    <li>Genre: @artwork.Genre.Name</li>
                    <li>Price: @artwork.Price</li>
                    <li>ArtistId: @artwork.AppUserId</li>
                    <p>Description: @artwork.Description</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form method="post">
                            <div class="text text-danger" asp-validation-summary="All"></div>
                            <input type="hidden" asp-for="AddLikeDTO.ArtworkId" value="@artwork.Id"/>
                            <button type="submit" class="btn btn-primary" asp-page-handler="Like">Like</button>
                            <input type="hidden" asp-for="AddFollowDTO.TargetUserId" value="@artwork.AppUserId" />
                            <button type="submit" class="btn btn-secondary" asp-page-handler="Follow">Follow</button>
                            <button class="btn btn-secondary"><a asp-page="./ArtworkDetail" asp-route-id="@artwork.Id">Details</a></button>
                        </form>
                    </div>
                </div>
            </div>
            <br />
        }

    }
</div>

    @section Scripts
    {
        <script>
            $(function() {
                $("#search-icon").click(function() {
                    $("form").submit(); // Submit the form
                });
            });
        </script>
    }
