@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<!-- Add additional stylesheets or scripts here -->
@* <style> *@
@*     /* Custom CSS styles */ *@
@*     .user-detail { *@
@*         margin-bottom: 50px; /* Tăng khoảng cách giữa Phần Detail User và Phần Gallery */ *@
@*     } *@
@* *@
@*     .artwork-image { *@
@*         width: 100%; /* Set the width to 100% */ *@
@*         height: auto; /* Automatically calculate the height to maintain aspect ratio */ *@
@*         max-width: 1000px; /* Set a maximum width for the images */ *@
@*     } *@
@* </style> *@

<h1>Artworks</h1>
<form method="post" asp-page="/Home/Index" asp-page-handler="Index"  id="searchForm">
    <div class="search">
        <span id="search-icon" class="material-symbols-outlined">search</span>
        <input name="title" id="search-title" class="search-input" type="search" placeholder="Search anything"/>
    </div>
</form>
<style>
    .search{
      --padding: 14px;
      
      width: max-content;
      display: flex;
      align-items: center;
      padding: var(--padding);
      border-radius: 28px;
      background: #f6f6f6;
      transition: box-shadow 0.25s;
    }
    
    .search:focus-within{
      box-shadow: 0 0 2px rgba(0, 0, 0 , 0.75);
      
    }
    
    .search-input{
      font-size: 14px ;
      font-family: 'Lexend', sans-serif;
      color: #333333;
      margin-left: var(--padding);
      outline: none;
      border: none;
      background: transparent;
      width: 800px;  
    }
    
    .search-input::placeholder{
      color: rgba(0, 0, 0, 0.5);
    }
</style>
<br/>
<div class="hero-full-wrapper">
    <div class="grid" style="position: relative; height: 1870.52px;">
        <div class="gutter-sizer"></div>
        <div class="grid-sizer"></div>
    @if (Model.Artworks != null)
    {
        @foreach (var artwork in Model.Artworks)
        {
            <br />
                        
            <div class="grid-item" style="position: absolute; left: 0px; top: 0px;">
                    <img style="border-radius: 10px" class="img-responsive" alt="@artwork.Title" src="@artwork.ArtworkImage.Url">
                <a asp-page="./ArtworkDetail" asp-route-id="@artwork.Id"class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <h3>@artwork.Title</h3>
                            <p asp-page="./ArtworkDetail" asp-route-id="@artwork.Id">Discover more</p>
                        </div>
                    </div>
                </a>
            </div>

            
            <br />
        }
            @* <div class="grid-item" style="position: absolute; left: 0px; top: 0px;">
                <img style="border-radius: 10px" class="img-responsive" alt="@artwork.Title" src="@artwork.ArtworkImage.Url">
                <a asp-page="./ArtworkDetail" asp-route-id="11" class="project-description">
                    <div class="project-text-holder">
                        <div class="project-text-inner">
                            <h3>@artwork.Title</h3>
                            <p asp-page="./ArtworkDetail" asp-route-id="@artwork.Id">Discover more</p>
                        </div>
                    </div>
                </a>
            </div> *@
    }
    </div>
</div>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/Home/Index" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>
    
@section Scripts
    {
        <script>
            $(function() {
                $("#search-icon").click(function() {
                    $("#searchForm").submit(); // Submit the form
                });
            });
        </script>
    }
