@page
@model Presentation.Pages.Audience.CommissionRequestHistoryDetailModel
@{
	var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
	<div class="alert alert-success">
		<p>@message</p>
	</div>
}

@if (Model.CommissionRequestHistoryDTO != null)
{
	<div class="container">
		@if (Model.CommissionRequestHistoryDTO.CommissionImages != null && Model.CommissionRequestHistoryDTO.CommissionImages.Count != 0)
		{
			<div class="row mb-3">
				@foreach (var image in Model.CommissionRequestHistoryDTO.CommissionImages)
				{
					<div class="col-md-4 mb-3">
						<div class="card" style="width: 18rem">
							<img src="@image.Url" class="card-img-top" alt="progress image">
							<div class="card-body">
								<p class="card-text">@image.CreatedDate.ToShortDateString()</p>
							</div>
						</div>
					</div>
				}
			</div>
		}
		else
		{
			@if (Model.CommissionRequestHistoryDTO.CommissionStatusDescription == "Not Accepted")
			{
				<h3>Your commission is denied by the artist</h3>
				<p>The reason: @Model.CommissionRequestHistoryDTO.NotAcceptedReason</p>
			}
			else
			{
				<h3>The artist have not added any progress image yet.</h3>
			}
		}

		<form method="post">
			<input type="hidden" asp-for="CommissionId"/>
			<div class="text text-danger" asp-asp-validation-summary="All"></div>
			<div class="mb-3">
				<button type="submit" class="btn btn-primary">Request progress image</button>
			</div>
		</form>
	</div>
}
else
{
	<h3>Commission Not Found</h3>
}

@section Scripts {
	@if(Model.IsRequestSentSuccess)
	{
		<script>
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("RequestProgressImage", @Html.Raw(Json.Serialize(Model.CommissionId))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		</script>
	}
	@* <script>
		var isSuccessForm = @Html.Raw(Json.Serialize(Model.IsRequestSentSuccess));

		if (isSuccessForm) {
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("RequestProgressImage", @Html.Raw(Json.Serialize(Model.CommissionRequestHistoryDTO))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		}
		@if(Model.IsRequestSentSuccess)
		{
			
		}
	</script> *@
}
