@page
@model Presentation.Pages.Audience.RequestCommissionModel
@{
}

@if(!string.IsNullOrEmpty(Model.Message))
{
	<div class="alert alert-success">
		<p>@Model.Message</p>
	</div>
}

<h3>Request a commission from @Model.ArtistName</h3>
<div class="container">
	<form method="post">
		<div class="text-danger" asp-validation-summary="All"></div>
		<input type="hidden" asp-for="ArtistName"/>
		<input type="hidden" asp-for="ArtistEmail"/>
		<input type="hidden" asp-for="CommissionRequestDTO.SenderId"/>
		<input type="hidden" asp-for="CommissionRequestDTO.ReceiverId"/>
		<div class="mb-3">
			<label for="genre" class="form-label">Genre: </label>
			<select asp-for="CommissionRequestDTO.GenreId" class="form-control">
				@foreach(var genre in Model.Genres)
				{
					<option value="@genre.Id">@genre.Name</option>
				}
			</select>
			<span class="text-danger" asp-validation-for="CommissionRequestDTO.RequestDescription"></span>
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Your description for this commission: </label>
			<input type="text" class="form-control" id="description" asp-for="CommissionRequestDTO.RequestDescription">
			<span class="text-danger" asp-validation-for="CommissionRequestDTO.RequestDescription"></span>
		</div>
		<div class="mb-3">
			<label for="minPrice" class="form-label">Min price: </label>
			<input type="number" class="form-control" id="minPrice" asp-for="CommissionRequestDTO.MinPrice">
			<span class="text-danger" asp-validation-for="CommissionRequestDTO.MinPrice"></span>
		</div>
		<div class="mb-3">
			<label for="maxPrice" class="form-label">Max price: </label>
			<input type="number" class="form-control" id="maxPrice" asp-for="CommissionRequestDTO.MaxPrice">
			<span class="text-danger" asp-validation-for="CommissionRequestDTO.MaxPrice"></span>
		</div>
		<div class="mb-3">
			<button type="submit" id="submitButton" class="btn btn-success">Send this request</button>
		</div>
	</form>
</div>

@section Scripts {
	@if (Model.IsRequestSentSuccess)
	{
		<script>
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("CommissionReceived", @Html.Raw(Json.Serialize(Model.ArtistEmail))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		</script>
	}
	@* <script>
		var isSuccessForm = @Html.Raw(Json.Serialize(Model.IsRequestSentSuccess));
		
		if(isSuccessForm) {
			var commissionConnection = new signalR.HubConnectionBuilder().withUrl("/commissionhub").build();
			commissionConnection.start().then(function () {
				commissionConnection.invoke("CommissionReceived", @Html.Raw(Json.Serialize(Model.ArtistEmail))).catch(function (err) {
					return console.error(err.toString());
				});
			}).catch(function (err) {
				return console.error(err.toString());
			});
		}
	 </script> *@
}